{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
  <header class="section-header text-center">
    <h1>Choix de l'arrière-plan</h1>
    <hr>
   <br><br>
    <center><h5 class="page page-top" style="margin-top: -7px;">
      <span>Pour toute information, question ou conseil relatif à votre commande,</span>
      <br />
      <span>veuillez prendre contact par mail: </span>
      <strong>info@myanimart.com</strong>
      <span> ou via notre formulaire de contact en cliquant <u><a href="https://mycreanimale.com/pages/contact-us" style="color:#337ab7;">ici</a></u>.</span></h5></center>
    
  </header>

<div class="why-try-one">
    <div class="wrapper container">
     
      <div class="dog-carous">
      
     <div class="owl-carousel owl-carouselaa owl-theme">
 
       
      <div class="item"> <span> <img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why1_large.png?v=1530984988" alt="Image 1" /></span><div class="whol-tit">White Energy 1</div><div class="whol-numm">1/10</div></div>
     <div class="item"> <span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why2_large.png?v=1530984989" alt="Image 2" /></span><div class="whol-tit">White Energy 2</div><div class="whol-numm">2/10</div></div>
     <div class="item"> <span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why3_large.png?v=1530984990" alt="Image 3" /></span><div class="whol-tit">White Energy 3 </div><div class="whol-numm">3/10</div></div>
     <div class="item"> <span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why4_large.png?v=1530984990" alt="Image 4" /></span><div class="whol-tit">White Energy 4</div><div class="whol-numm">4/10</div></div>
     <div class="item"><span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why5_large.png?v=1530984991" alt="Image 5" /></span><div class="whol-tit">White Energy 5</div><div class="whol-numm">5/10</div></div>
      <div class="item"> <span> <img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture1_2bff2b89-74f1-4e61-8066-cfe3a7edd4b1_2080x.png?v=1530936273" alt="Image 6" /></span><div class="whol-tit">White Energy 6</div><div class="whol-numm">6/10</div></div>
     <div class="item"> <span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture2_2080x.png?v=1530935689" alt="Image 2" /></span><div class="whol-tit">White Energy 7</div><div class="whol-numm">7/10</div></div>
     <div class="item"> <span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture3_2080x.png?v=1530935705" alt="Image 3" /></span><div class="whol-tit">White Energy 8 </div><div class="whol-numm">8/10</div></div>
     <div class="item"> <span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture4_2080x.png?v=1530935715" alt="Image 4" /></span><div class="whol-tit">White Energy 9</div><div class="whol-numm">9/10</div></div>
     <div class="item"><span><img style="width:310px;height:310px" src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture1_2bff2b89-74f1-4e61-8066-cfe3a7edd4b1_2080x.png?v=1530936273?v=1530984991" alt="Image 5" /></span><div class="whol-tit">White Energy 10</div><div class="whol-numm">10/10</div></div>

       
        </div>
      </div>

<br><br/>
  <div class="description-bgr">
    <b>  <h2>Un choix unique parmis plus de 80 arrières-plans !</h2> </b>
    <br>
    <p>Chez <b>MyAnimArt</b>, sous sommes allergiques au conformisme et <b>réticents à l’idée que nos compagnons ne peuvent pas nous suivre partout.</b> Nous avons donc trouvé un <b>moyen original et stylé </b>de les inviter à rejoindre notre quotidien. 
      En nous soumettant la photo de votre compagnon de vie, <b>vous choisissez vous-même l’arrière-plan</b> qui vous convient. Nous nous chargeons ensuite de lui <b>donner de l’éclat</b> et <b>de sublimer votre photo !</b></p>
    
    <center> <h2>Prévisualisez l'ensemble de nos arrières-plans avec votre photo re-travaillé par nos graphistes et choisissez votre préféré !</h2>
      
  </center>
    <br>  <br>
    <a href="https://mycreanimale.com/collections" class="button btn-grad-log">Tous nos produits !</a>
  </div>
  {% for block in section.blocks %}
  {% if block.type == 'main' %}
  <div class="section-pop-culture">
    <h3><u><b>Pop Culture</b></u></h3><br>
    
    <div class="slider-pop-culture">
    
    	<div class="owl-carousel owl-theme owl-pop-culture">
          <div class="item">
            <div class="owl-image">
             
              <img src="{{ block.settings.pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.pop_culture1.alt | escape }}">
              
            </div>
            
            <u><h3 class="t-blue">{{ block.settings.first_slid_head1 }}</h3></u>
            <p>{{ block.settings.first_slid_para1 }} </p>
            
          </div>
          <div class="item">
            <div class="owl-image">
              
              <img src="{{ block.settings.pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.pop_culture2.alt | escape }}">
             
            </div>
            
            <u><h3 class="t-blue">{{ block.settings.first_slid_head2 }}</h3></u>
            <p>{{ block.settings.first_slid_para2 }} </p>
            
          </div>
          <div class="item">
            <div class="owl-image">
               
              <img src="{{ block.settings.pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.pop_culture3.alt | escape }}">
             
            </div>
            
            <u><h3 class="t-blue">{{ block.settings.first_slid_head3 }}</h3></u>
            <p>{{ block.settings.first_slid_para3 }} </p>
           
          </div>
          <div class="item">
            <div class="owl-image">
              
              <img src="{{ block.settings.pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.pop_culture4.alt | escape }}">
             
            </div>
            
            <u><h3 class="t-blue">{{ block.settings.first_slid_head4 }}</h3></u>
            <p>{{ block.settings.first_slid_para4 }} </p>
           
          </div>
      	</div>
      
    </div>
    
    
    
    
    
  </div>
    	 {% endif %}
     	 {% endfor %}
      
    
      </div>
      
      <!-- new code here 05/11/2018 -->
      <section class="carosoule-box mul-slid"> 
        <div class="row">
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                 {% for block in section.blocks %}
  {% if block.type == 'slideminisec' %}
                <div class="owl-carousela owl-carousel owl-theme">
    <div class="item">
                <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.second_pop_culture1  | img_url : '2080x'}}" alt="{{ block.settings.second_pop_culture1.alt | escape }}">
             
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.second_slid_head1 }}</u></h4>
            <p>{{ block.settings.second_slid_para1 }} </p>
            
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.second_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.second_pop_culture2.alt | escape }}">
            
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.second_slid_head2 }}</u></h4>
            <p>{{ block.settings.second_slid_para2 }} </p>
           
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.second_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.second_pop_culture3.alt | escape }}">
             
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.second_slid_head3 }}</u></h4>
            <p>{{ block.settings.second_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.second_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.second_pop_culture4.alt | escape }}">
            
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.second_slid_head4 }}</u></h4>
            <p>{{ block.settings.second_slid_para4 }} </p>
            
                </div>
					</div>

               </div>
                {% endif %}
     	 {% endfor %}
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                 {% for block in section.blocks %}
  {% if block.type == 'slideminithrd' %}
                <div class="owl-carousela owl-carousel owl-theme">
    <div class="item">
                <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.third_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.third_pop_culture1.alt | escape }}">
            
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.third_slid_head1 }}</u></h4>
            <p>{{ block.settings.third_slid_para1 }} </p>
          
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                  
              <img src="{{ block.settings.third_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.second_pop_culture2.alt | escape }}">
           
            </div>
         
           <h4 class="t-blue"><u>{{ block.settings.third_slid_head2 }}</u></h4>
            <p>{{ block.settings.third_slid_para2 }} </p>
           
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.third_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.third_pop_culture3.alt | escape }}">
             
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.third_slid_head3 }}</u></h4>
            <p>{{ block.settings.third_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.third_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.third_pop_culture4.alt | escape }}">
            
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.third_slid_head4 }}</u></h4>
            <p>{{ block.settings.third_slid_para4 }} </p>
         
                </div>
					</div>                
                </div>
                 {% endif %}
     	 {% endfor %}
                
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                 {% for block in section.blocks %}
  {% if block.type == 'slideminifrth' %}
                <div class="owl-carousela owl-carousel owl-theme">
    <div class="item">
                <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.four_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.four_pop_culture1.alt | escape }}">
           
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.four_slid_head1 }}</u></h4>
            <p>{{ block.settings.four_slid_para1 }} </p>
          
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
              
              <img src="{{ block.settings.third_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.second_pop_culture2.alt | escape }}">
           
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.four_slid_head2 }}</u></h4>
            <p>{{ block.settings.four_slid_para2 }} </p>
          
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.four_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.four_pop_culture3.alt | escape }}">
            
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.four_slid_head3 }}</u></h4>
            <p>{{ block.settings.four_slid_para3 }} </p>
          
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
              
              <img src="{{ block.settings.four_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.four_pop_culture4.alt | escape }}">
             
            </div>
        
           <h4 class="t-blue"><u>{{ block.settings.four_slid_head4 }}</u></h4>
            <p>{{ block.settings.four_slid_para4 }} </p>
           
                </div>
					</div>  
                <div class="clr"></div>
              </div>
              {% endif %}
     	 {% endfor %}
            </div>
          </div>
			</div>
           <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminififth' %}
                <div class="owl-carousela owl-carousel owl-theme">
    <div class="item">
                <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.fifth_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.fifth_pop_culture1.alt | escape }}">
            
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.fifth_slid_head1 }}</u></h4>
            <p>{{ block.settings.fifth_slid_para1 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.fifth_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.fifth_pop_culture2.alt | escape }}">
            
            </div>
            
           <h4 class="t-blue"><u>{{ block.settings.fifth_slid_head2 }}</u></h4>
            <p>{{ block.settings.fifth_slid_para2 }} </p>
         
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.fifth_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.fifth_pop_culture3.alt | escape }}">
            
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.fifth_slid_head3 }}</u></h4>
            <p>{{ block.settings.fifth_slid_para3 }} </p>
          
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.fifth_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.fifth_pop_culture4.alt | escape }}">
             
            </div>
         
           <h4 class="t-blue"><u>{{ block.settings.fifth_slid_head4 }}</u></h4>
            <p>{{ block.settings.fifth_slid_para4 }} </p>
           
                </div>
					</div>  
                <div class="clr"></div>
              </div>
              {% endif %}
     	 {% endfor %}
            </div>
          </div>
			</div>
           <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminisixth' %}
                <div class="owl-carousela owl-carousel owl-theme">
    <div class="item">
                <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.sixth_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.sixth_pop_culture1.alt | escape }}">
           
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.sixth_slid_head1 }}</u></h4>
            <p>{{ block.settings.sixth_slid_para1 }} </p>
         
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.sixth_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.sixth_pop_culture2.alt | escape }}">
             
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.sixth_slid_head2 }}</u></h4>
            <p>{{ block.settings.sixth_slid_para2 }} </p>
            
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.sixth_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.sixth_pop_culture3.alt | escape }}">
             
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.sixth_slid_head3 }}</u></h4>
            <p>{{ block.settings.sixth_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                   
              <img src="{{ block.settings.sixth_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.sixth_pop_culture4.alt | escape }}">
             
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.sixth_slid_head4 }}</u></h4>
            <p>{{ block.settings.sixth_slid_para4 }} </p>
            
                </div>
					</div>  
                <div class="clr"></div>
              </div>
               {% endif %}
     	 {% endfor %}
            </div>
          </div>
          <div class="clr"></div>
          </div>
        </div>
      </section>
      
      
      
      
        <!-- 	<div class="owl-stage-outer">
		<div class="owl-stage" style="transform: translate3d(-1215px, 0px, 0px); transition: all 0s ease 0s; width: 3645px;">
		<div class="owl-item cloned" style="width: 268.75px; margin-right: 35px;">
		<div class="item">
            <div class="owl-image">
              <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture1_2bff2b89-74f1-4e61-8066-cfe3a7edd4b1_2080x.png?v=1530936273" alt="">
            </div>
            <u><h3 class="t-blue">Background Style 1</h3></u>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy </p>
          </div>
		  </div>
		  <div class="owl-item cloned" style="width: 268.75px; margin-right: 35px;">
		  <div class="item">
            <div class="owl-image">
              <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/files/pop-culture2_2080x.png?v=1530935689" alt="">
            </div>
            <u><h3 class="t-blue">Background Style 2</h3></u>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy </p>
          </div>
		  </div>
		  </div>
		  </div>
  <div class="section-masonry">
    <div  class="box-swiperf">
    <div class="wrapper">
    <p class="categories">
      	<span class="active first" data-value="all">All</span> 
        <span data-value="solid">SOLID COLOR</span> 
        <span data-value="floral">FLORAL PATTERN</span> 
        <span data-value="munchies">MUNCHIES</span>
        <span data-value="munchies">MUNCHIES</span>
      	<span data-value="solid">SOLID COLOR</span> 
        <span data-value="floral">FLORAL PATTERN</span> 
        <span data-value="munchies">MUNCHIES</span>
      	<span data-value="floral">FLORAL PATTERN</span>
      	<span data-value="solid">SOLID COLOR</span> 
        <span data-value="floral">FLORAL PATTERN</span> 
        <span data-value="munchies">MUNCHIES</span>
      	<span data-value="floral">FLORAL PATTERN</span>
      </p>   
      <p class='view_more'><span>View More...</span></p>	
      <div class='wrap-masonry'>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="masonry grid__item custom-col-4">
            <div class="swiper-slide" data-filter="solid">
          		<img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk1_e03299fa-49b9-485c-ae2e-aeb4f3daf65b_large.png?v=1530984327">
            	<p>Background Pattern 1</p>
          	</div>
            <div class="swiper-slide" data-filter="munchies">
          		 <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk2_large.png?v=1530984329">	
            	 <p>Background Pattern 2</p>
          	</div>
          </div>
          <div class="masonry grid__item custom-col-4">
            <div class="swiper-slide" data-filter="munchies">
          		 <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk3_large.png?v=1530984330">
            	 <p>Background Pattern 3</p>
          	</div>
            <div class="swiper-slide" data-filter="floral">
          		<img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk4_large.png?v=1530984331">
            	<p>Background Pattern 4</p>
          	</div>
          </div>
          <div class="masonry grid__item custom-col-4">
            <div class="swiper-slide" data-filter="floral">
          		<img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk5_large.png?v=1530984332">
           		<p>Background Pattern 5</p>
          	</div>
            <div class="swiper-slide" data-filter="munchies">
              	<img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk6_large.png?v=1530984333">
            	<p>Background Pattern 6</p></div>
          </div>
          <div class="masonry grid__item custom-col-4">
            <div class="swiper-slide" data-filter="floral">
          		 <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk7_large.png?v=1530984334">
            	<p>Background Pattern 7</p>
          	</div>
            <div class="swiper-slide" data-filter="solid">
          		 <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk8_large.png?v=1530984336">
            	 <p>Background Pattern 8</p>
          	</div>
          </div>
          <div class="masonry grid__item custom-col-4">
            <div class="swiper-slide" data-filter="munchies">
          		 <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk7_large.png?v=1530984334">
            	<p>Background Pattern 9</p>
          	</div>
          	<div class="swiper-slide" data-filter="fruit">
          		 <img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/bgk7_large.png?v=1530984334">
            	<p>Background Pattern 10</p>
          	</div>
          </div>
        
          </div>
              
          
    </div>
      <div class="swiper-pagination"></div>
      <div class="next-prev">
        <a class="js-mk-awards-slider-next">Next</a>
        <a class="js-mk-awards-slider-prev">Prev</a>
      </div>
      </div>
    </div>
      </div>
  </div>--->



   <!--<div id="carousel-why" class='slider-images-desktop'>
    <div class="wrapper">
      <div id="carousel-3d-img">
      	<carousel-3d :perspective="0" :space="65" :display="5" :width="450" :height="450" :controls-visible="true" :border="slideBorder" :dir="direction">
          <slide :index="0"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why1_large.png?v=1530984988" alt="Image 1" /></span>
          </slide>
          <slide :index="1"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/2_large.png?v=1531557045" alt="Image 2" /></span>
          </slide>
          <slide :index="2"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/1_large.png?v=1531557044" alt="Image 3" /></span>
          </slide>
          <slide :index="3"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/3_large.png?v=1531557046" alt="Image 4" /></span>
          </slide>
          <slide :index="4"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/4_large.png?v=1531557047" alt="Image 5" /></span>
          </slide>
        </carousel-3d>
      </div>
    </div>
  </div>--><!-- 3d carsouel desktop-->
      
    <!---  <div class='slider-images slider-images-mobile'>
    <div class="wrapper">
      <div id="carousel-3d-img">
      	<carousel-3d :perspective="0" :space="65" :display="5" :width="160" :height="160" :controls-visible="true" :border="slideBorder" :dir="direction">
          <slide :index="0"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/why1_large.png?v=1530984988" alt="Image 1" /></span>
          </slide>
          <slide :index="1"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/2_large.png?v=1531557045" alt="Image 2" /></span>
          </slide>
          <slide :index="2"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/1_large.png?v=1531557044" alt="Image 3" /></span>
          </slide>
          <slide :index="3"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/3_large.png?v=1531557046" alt="Image 4" /></span>
          </slide>
          <slide :index="4"><span><img src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/4_large.png?v=1531557047" alt="Image 5" /></span>
          </slide>
        </carousel-3d>
      </div>
    </div>
  </div>-->
  <h5><b>.. et bien plus encore !</b></h5>
      <a class="button btn-grad-sign" id="shp-show" href="javascript:void(0)">Tous nos arrières-plans</a>
  
   <section class="carosoule-box mul-slid bottoms second-mini-slide"> 
        <div class="row">
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminiseven' %}
                <div class="owl-carousel owl-carousela owl-theme" >
   <div class="item">
                <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.seventh_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.seventh_pop_culture1.alt | escape }}">
              
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.seventh_slid_head1 }}</u></h4>
            <p>{{ block.settings.seventh_slid_para1 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                  
              <img src="{{ block.settings.seventh_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.seventh_pop_culture2.alt | escape }}">
             
            </div>
         
           <h4 class="t-blue"><u>{{ block.settings.seventh_slid_head2 }}</u></h4>
            <p>{{ block.settings.seventh_slid_para2 }} </p>
            
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.seventh_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.seventh_pop_culture3.alt | escape }}">
             
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.seventh_slid_head3 }}</u></h4>
            <p>{{ block.settings.seventh_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                  
              <img src="{{ block.settings.seventh_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.seventh_pop_culture4.alt | escape }}">
              
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.seventh_slid_head4 }}</u></h4>
            <p>{{ block.settings.seventh_slid_para4 }} </p>
          
                </div>
					</div>  
                <div class="clr"></div>
              </div>
               {% endif %}
     	 {% endfor %}
            </div>
          </div>
			</div>
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminieight' %}
                <div class="owl-carousel owl-carousela owl-theme" >
   <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.eight_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.eight_pop_culture1.alt | escape }}">
            
            </div>
         
           <h4 class="t-blue"><u>{{ block.settings.eight_slid_head1 }}</u></h4>
            <p>{{ block.settings.eight_slid_para1 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.eight_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.eight_pop_culture2.alt | escape }}">
            
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.eight_slid_head2 }}</u></h4>
            <p>{{ block.settings.eight_slid_para2 }} </p>
          
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.eight_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.eight_pop_culture3.alt | escape }}">
              
            </div>
            
           <h4 class="t-blue"><u>{{ block.settings.eight_slid_head3 }}</u></h4>
            <p>{{ block.settings.eight_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.eight_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.eight_pop_culture4.alt | escape }}">
             
            </div>
         
           <h4 class="t-blue"><u>{{ block.settings.eight_slid_head4 }}</u></h4>
            <p>{{ block.settings.eight_slid_para4 }} </p>
         
                </div>
					</div>  
                
                <div class="clr"></div>
              </div>
            {% endif %}
     	 {% endfor %}
            </div>
          </div>
			</div>
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminininth' %}
                <div class="owl-carousel owl-carousela owl-theme" >
   <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.nine_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.nine_pop_culture1.alt | escape }}">
            
            </div>
        
           <h4 class="t-blue"><u>{{ block.settings.nine_slid_head1 }}</u></h4>
            <p>{{ block.settings.nine_slid_para1 }} </p>
         
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
              
              <img src="{{ block.settings.nine_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.nine_pop_culture2.alt | escape }}">
           
            </div>
         
           <h4 class="t-blue a"><u>{{ block.settings.nine_slid_head2 }}</u></h4>
            <p>{{ block.settings.nine_slid_para2 }} </p>
         
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.nine_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.nine_pop_culture3.alt | escape }}">
           
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.nine_slid_head3 }}</u></h4>
            <p>{{ block.settings.nine_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                  
              <img src="{{ block.settings.nine_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.nine_pop_culture4.alt | escape }}">
            
            </div>
      
           <h4 class="t-blue"><u>{{ block.settings.nine_slid_head4 }}</u></h4>
            <p>{{ block.settings.nine_slid_para4 }} </p>
         
                </div>
					</div>  
                <div class="clr"></div>
              </div>
               {% endif %}
     	 {% endfor %}
            </div>
          </div>
			  </div>
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminitenth' %}
                <div class="owl-carousel owl-carousela owl-theme" >
   <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.tenth_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.tenth_pop_culture1.alt | escape }}">
           
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.tenth_slid_head1 }}</u></h4>
            <p>{{ block.settings.tenth_slid_para1 }} </p>
         
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.tenth_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.tenth_pop_culture2.alt | escape }}">
            
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.tenth_slid_head2 }}</u></h4>
            <p>{{ block.settings.tenth_slid_para2 }} </p>
          
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
                
              <img src="{{ block.settings.tenth_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.tenth_pop_culture3.alt | escape }}">
            
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.tenth_slid_head3 }}</u></h4>
            <p>{{ block.settings.tenth_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
              
              <img src="{{ block.settings.tenth_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.tenth_pop_culture4.alt | escape }}">
         
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.tenth_slid_head4 }}</u></h4>
            <p>{{ block.settings.tenth_slid_para4 }} </p>
          
                </div>
					</div>  
                <div class="clr"></div>
              </div>
               {% endif %}
     	 {% endfor %}
            </div>
          </div>
			  </div>
          <div class="col-4">
            <div class="box-area">
              <div class="row">
                <div class="box-title">
                  <h3>Pop Culture</h3>
                </div>
                {% for block in section.blocks %}
  {% if block.type == 'slideminielev' %}
                <div class="owl-carousel owl-carousela owl-theme" >
   <div class="item">
                <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.elev_pop_culture1 | img_url : '2080x'}}" alt="{{ block.settings.elev_pop_culture1.alt | escape }}">
             
            </div>
          
           <h4 class="t-blue"><u>{{ block.settings.elev_slid_head1 }}</u></h4>
            <p>{{ block.settings.elev_slid_para1 }} </p>
        
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                  
              <img src="{{ block.settings.elev_pop_culture2 | img_url : '2080x'}}" alt="{{ block.settings.elev_pop_culture2.alt | escape }}">
            
            </div>
        
           <h4 class="t-blue"><u>{{ block.settings.elev_slid_head2 }}</u></h4>
            <p>{{ block.settings.elev_slid_para2 }} </p>
         
                </div>
					</div>
                <div class="item">
                <div class="box-item">
                  <div class="box-image">
               
              <img src="{{ block.settings.elev_pop_culture3 | img_url : '2080x'}}" alt="{{ block.settings.elev_pop_culture3.alt | escape }}">
             
            </div>
         
           <h4 class="t-blue"><u>{{ block.settings.elev_slid_head3 }}</u></h4>
            <p>{{ block.settings.elev_slid_para3 }} </p>
           
                   
                   
      </div></div>
               <div class="item">
                 <div class="box-item">
                  <div class="box-image">
                 
              <img src="{{ block.settings.elev_pop_culture4 | img_url : '2080x'}}" alt="{{ block.settings.elev_pop_culture4.alt | escape }}">
           
            </div>
           
           <h4 class="t-blue"><u>{{ block.settings.elev_slid_head4 }}</u></h4>
            <p>{{ block.settings.elev_slid_para4 }} </p>
           
                </div>
					</div>  
                <div class="clr"></div>
              </div>
               {% endif %}
     	 {% endfor %}
            </div>
          </div>
			  </div>
          <div class="clr"></div>
        </div>
      </section>
  
    </div>

   						<div class="section-you-may-like"></div>
    
{% comment %}  
<div class="wrapper Featured-collection-wrapper bg-like test cont product-page"> 
<header class="section-header bg-like-page">
        <h2 class="section-header__title">You May Also Like</h2>
      </header>
  <div class="grid-uniform">
<div class="related-products">
  
<!-- /snippets/product-grid-item.liquid -->

<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/toiles/products/canvas-medium">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.1111111%;">
              <img
               class="product--image lazyload ProductImage-2132066107439"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/canvas_medium_a85f11c0-7d8b-46fe-9ccb-c06b08be8591_large.png?v=1531986341"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7992895204262878"
                   data-sizes="auto"
                   alt="Canvas Medium">
            </div>
          </div>
<!--           <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/mediumcanvas_450x650_7e480c91-ec98-43cd-a647-44dbe1d125c8_1024x.jpg?v=1520567605" alt="Canvas Medium">
          </noscript> -->
        
      </a>
      
    </div>

    <a href="/collections/toiles/products/canvas-medium" class="grid-product__meta">
      <span class="grid-product__title">Tableau taille 34x34</span>
      <div class="yotpo bottomLine" data-product-id="561937219631" data-url="/collections/toiles/products/canvas-medium"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/toiles/products/canvas-small">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.1111111%;">
              <img
               class="product--image lazyload ProductImage-2132155334703"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/canvas_small_1b8400d6-52da-4ec2-bb6b-62844aef7d64_large.png?v=1531986620"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7992895204262878"
                   data-sizes="auto"
                   alt="Canvas small">
            </div>
          </div>
<!--           <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/smallcnvas_450x650_a9a02e64-28a2-4b8f-a48e-3d3e2c86fd30_1024x.jpg?v=1520568977" alt="Canvas small">
          </noscript> -->
        
      </a>
      
    </div>

    <a href="/collections/toiles/products/canvas-small" class="grid-product__meta">
      <span class="grid-product__title">Tableau taille 48x48</span>
      <div class="yotpo bottomLine" data-product-id="561953505327" data-url="/collections/toiles/products/canvas-small"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

    
<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/femme/products/ladies-crop-top">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.030525%;">
              <img
               class="product--image lazyload ProductImage-2365513859119"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/1_1080x_0db1e457-ea05-4018-ada6-7cacb405d7f4_large.png?v=1531542513"
                   
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7998046875"
                   data-sizes="auto"
                   alt="Tee shirt Femme COL ROND">
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/Crop_1024x1024_72db4f49-11a0-427c-89e8-70824e0db246_1024x.jpg?v=1523437953" alt="Tee shirt Femme COL ROND">
          </noscript>
        
      </a>
      
    </div>

    <a href="/collections/femme/products/ladies-crop-top" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Femme col rond</span>
      <div class="yotpo bottomLine" data-product-id="561954652207" data-url="/collections/femme/products/ladies-crop-top"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>
<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/enfant/products/chambray-button-down">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.030525%;">
              <img
               class="product--image lazyload ProductImage-2405531418671"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/tee_shirt_fille_large.png?v=1531986749"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7998046875"
                   data-sizes="auto"
                   alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
            </div>
          </div>
<!--           <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/m-wenlock1_1024x.jpg?v=1523865916" alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
          </noscript> -->
        
      </a>
      
    </div>

    <a href="/collections/enfant/products/chambray-button-down" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Fille col rond</span>
      <div class="yotpo bottomLine" data-product-id="559338618927" data-url="/collections/enfant/products/chambray-button-down"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €68
          
        </span>
      </span>
      
    </a>
  </div>
</div>

    
    
<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/customized-apparel/products/boys-crew">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.1111111%;">
              <img
               class="product--image lazyload ProductImage-2950867419183"
                   src="https://cdn.shopify.com/s/files/1/0004/0809/2719/products/5_02f470e3-2d69-4686-9f0e-cded5a943e77_1024x.jpg?v=1533227094"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7992895204262878"
                   data-sizes="auto"
                   alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="https://cdn.shopify.com/s/files/1/0004/0809/2719/products/5_02f470e3-2d69-4686-9f0e-cded5a943e77_1024x.jpg?v=1533227094" alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
          </noscript>
        
      </a>
      
    </div>

    <a href="/collections/customized-apparel/products/boys-crew" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Homme col en V</span>
      <div class="yotpo bottomLine" data-product-id="561958289455" data-url="/collections/customized-apparel/products/boys-crew"></div> 
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

    
<!-- /snippets/product-grid-item.liquid -->



<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/enfant/products/mens-crew">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.0%;">
              <img
               class="product--image lazyload ProductImage-2258634965039"
                   src="https://cdn.shopify.com/s/files/1/0004/0809/2719/products/akzl_15a04183-718f-4b5c-ae34-27b52ceb83a2_200x.jpg?v=1533224297"
                   data-src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/akzl_15a04183-718f-4b5c-ae34-27b52ceb83a2_{width}x.jpg?v=1533224297"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.8"
                   data-sizes="auto"
                   alt="Tee shirt Homme en V">
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/crew_3hd_150x150.jpg?v=1521949750" alt="Tee shirt Homme en V">
          </noscript>
        
      </a>
      
    </div>

    <a href="/collections/enfant/products/mens-crew" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Enfant en V</span>
      <div class="yotpo bottomLine" data-product-id="561956651055" data-url="/collections/enfant/products/mens-crew"></div> 
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

     

  </div>

</div>
</div>
     


<script>
 
$('.related-products').owlCarousel({
    nav:true,
  	loop:true,
  	items: 1,
    responsive:{
         0:{
            items:2,
            margin:20,
            nav:true,
            loop:true
        },
        600:{
            items:3,
            margin:20,
            nav:true,
            loop:true
        },
        1000:{
            items:4,
          	margin:30,
            nav:true,
            loop:true
        }
    }
})

</script>
{% endcomment %}
 
{% include 'webcast-product-slider' %}


{% include 'BackgroundSlideMob' %}




  </div>
 <script>
   $(document).ready(function(){
$('#shp-show').click(function(e) {

    $('.second-mini-slide').addClass('show-slid');
  $('#shp-show').addClass('hideBtn');
});
});

 </script>
  <script>
$(document).ready(function(){
   $('.owl-carouselaa').owlCarousel({
    loop:true, 
    margin:0,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
});
  
  $('.owl-carousela').owlCarousel({
    loop:true, 
    margin:0,
    nav:true,
    responsive:{
        0:{
            items:2
        },
        600:{
            items:2
        },
        1000:{
            items:2
        }
    }
});
});
</script>

  
  
{% schema %}
  {
	"settings": [
		{
          "id": "collectionMob",
          "type": "collection",
          "label": "Mobile Collection"
		},
		{
          "id": "TextBottomMob",
          "type": "html",
          "label": "Bottom Text For Mobile"
		}
	],
    "blocks": [
      {
        "type": "main",
        "name": "top first slide",
       "settings": [
      
      {
        "id": "pop_culture1",
        "type": "image_picker",
        "label": "Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "first_slid_head1",
        "label": "first slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "first_slid_para1",
        "label": "first slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "pop_culture2",
        "type": "image_picker",
        "label": "Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "first_slid_head2",
        "label": "first slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "first_slid_para2",
        "label": "first slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "pop_culture3",
        "type": "image_picker",
        "label": "Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "first_slid_head3",
        "label": "first slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "first_slid_para3",
        "label": "first slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "pop_culture4",
        "type": "image_picker",
        "label": "Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "first_slid_head4",
        "label": "first slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "first_slid_para4",
        "label": "first slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
      
      {
       "type": "slideminisec",
        "name": "mini second slide",
        "settings": [
      
      {
        "id": "second_pop_culture1",
        "type": "image_picker",
        "label": "second Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "second_slid_head1",
        "label": "second slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "second_slid_para1",
        "label": "second slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "second_pop_culture2",
        "type": "image_picker",
        "label": "second Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "second_slid_head2",
        "label": "second slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "second_slid_para2",
        "label": "second slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "second_pop_culture3",
        "type": "image_picker",
        "label": "second Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "second_slid_head3",
        "label": "second slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "second_slid_para3",
        "label": "second slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "second_pop_culture4",
        "type": "image_picker",
        "label": "second Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "second_slid_head4",
        "label": "second slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "second_slid_para4",
        "label": "second slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
      {
       "type": "slideminithrd",
        "name": "mini third slide",
        "settings": [
      
      {
        "id": "third_pop_culture1",
        "type": "image_picker",
        "label": "third Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "third_slid_head1",
        "label": "third slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "third_slid_para1",
        "label": "third slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "third_pop_culture2",
        "type": "image_picker",
        "label": "third Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "third_slid_head2",
        "label": "third slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "third_slid_para2",
        "label": "third slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "third_pop_culture3",
        "type": "image_picker",
        "label": "third Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "third_slid_head3",
        "label": "third slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "third_slid_para3",
        "label": "third slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "third_pop_culture4",
        "type": "image_picker",
        "label": "third Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "third_slid_head4",
        "label": "third slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "third_slid_para4",
        "label": "third slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
      {
       "type": "slideminifrth",
        "name": "mini four slide",
        "settings": [
      
      {
        "id": "four_pop_culture1",
        "type": "image_picker",
        "label": "four Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "four_slid_head1",
        "label": "four slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "four_slid_para1",
        "label": "four slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "four_pop_culture2",
        "type": "image_picker",
        "label": "four Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "four_slid_head2",
        "label": "four slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "four_slid_para2",
        "label": "four slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "four_pop_culture3",
        "type": "image_picker",
        "label": "Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "four_slid_head3",
        "label": "four slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "four_slid_para3",
        "label": "four slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "four_pop_culture4",
        "type": "image_picker",
        "label": "Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "four_slid_head4",
        "label": "four slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "four_slid_para4",
        "label": "four slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
		{
        "type": "slideminififth",
        "name": "mini fifth slide",
         "settings": [
      
      {
        "id": "fifth_pop_culture1",
        "type": "image_picker",
        "label": "fifth Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "fifth_slid_head1",
        "label": "fifth slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "fifth_slid_para1",
        "label": "fifth slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "fifth_pop_culture2",
        "type": "image_picker",
        "label": "Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "fifth_slid_head2",
        "label": "fifth slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "fifth_slid_para2",
        "label": "fifth slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "fifth_pop_culture3",
        "type": "image_picker",
        "label": "fifth Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "fifth_slid_head3",
        "label": "fifth slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "fifth_slid_para3",
        "label": "fifth slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "fifth_pop_culture4",
        "type": "image_picker",
        "label": "fifth Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "fifth_slid_head4",
        "label": "fifth slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "fifth_slid_para4",
        "label": "fifth slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
		{
      "type": "slideminisixth",
        "name": "mini sixth slide",
         "settings": [
      
      {
        "id": "sixth_pop_culture1",
        "type": "image_picker",
        "label": "sixth Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "sixth_slid_head1",
        "label": "sixth slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "sixth_slid_para1",
        "label": "sixth slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "sixth_pop_culture2",
        "type": "image_picker",
        "label": "Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "sixth_slid_head2",
        "label": "sixth slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "sixth_slid_para2",
        "label": "sixth slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "sixth_pop_culture3",
        "type": "image_picker",
        "label": "sixth Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "sixth_slid_head3",
        "label": "sixth slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "sixth_slid_para3",
        "label": "sixth slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "sixth_pop_culture4",
        "type": "image_picker",
        "label": "sixth Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "sixth_slid_head4",
        "label": "sixth slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "sixth_slid_para4",
        "label": "sixth slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
		{
       "type": "slideminiseven",
        "name": "mini seventh slide",
        "settings": [
      
      {
        "id": "seventh_pop_culture1",
        "type": "image_picker",
        "label": "seventh Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "seventh_slid_head1",
        "label": "seventh slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "seventh_slid_para1",
        "label": "seventh slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "seventh_pop_culture2",
        "type": "image_picker",
        "label": "seventh Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "seventh_slid_head2",
        "label": "seventh slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "seventh_slid_para2",
        "label": "seventh slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "seventh_pop_culture3",
        "type": "image_picker",
        "label": "seventh Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "seventh_slid_head3",
        "label": "seventh slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "seventh_slid_para3",
        "label": "seventh slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "seventh_pop_culture4",
        "type": "image_picker",
        "label": "seventh Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "seventh_slid_head4",
        "label": "seventh slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "seventh_slid_para4",
        "label": "seventh slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
		
      {
        "type": "slideminieight",
        "name": "mini eight slide",
        "settings": [
      
      {
        "id": "eight_pop_culture1",
        "type": "image_picker",
        "label": "eight Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "eight_slid_head1",
        "label": "eight slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "eight_slid_para1",
        "label": "eight slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "eight_pop_culture2",
        "type": "image_picker",
        "label": "eight Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "eight_slid_head2",
        "label": "eight slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "eight_slid_para2",
        "label": "eight slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "eight_pop_culture3",
        "type": "image_picker",
        "label": "eight Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "eight_slid_head3",
        "label": "eight slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "eight_slid_para3",
        "label": "eight slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "eight_pop_culture4",
        "type": "image_picker",
        "label": "eight Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "eight_slid_head4",
        "label": "eight slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "eight_slid_para4",
        "label": "eight slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
		{
        "type": "slideminininth",
        "name": "mini nine slide",
       "settings": [
      
      {
        "id": "nine_pop_culture1",
        "type": "image_picker",
        "label": "nine Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "nine_slid_head1",
        "label": "nine slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "nine_slid_para1",
        "label": "nine slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "nine_pop_culture2",
        "type": "image_picker",
        "label": "nine Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "nine_slid_head2",
        "label": "nine slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "nine_slid_para2",
        "label": "nine slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "nine_pop_culture3",
        "type": "image_picker",
        "label": "nine Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "nine_slid_head3",
        "label": "nine slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "nine_slid_para3",
        "label": "nine slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "nine_pop_culture4",
        "type": "image_picker",
        "label": "nine Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "nine_slid_head4",
        "label": "nine slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "nine_slid_para4",
        "label": "nine slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
		{
        "type": "slideminitenth",
        "name": "mini tenth slide",
        "settings": [
      
      {
        "id": "tenth_pop_culture1",
        "type": "image_picker",
        "label": "tenth Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "tenth_slid_head1",
        "label": "tenth slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "tenth_slid_para1",
        "label": "tenth slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "tenth_pop_culture2",
        "type": "image_picker",
        "label": "tenth Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "tenth_slid_head2",
        "label": "tenth slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "tenth_slid_para2",
        "label": "tenth slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "tenth_pop_culture3",
        "type": "image_picker",
        "label": "Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "tenth_slid_head3",
        "label": "tenth slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "tenth_slid_para3",
        "label": "tenth slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "tenth_pop_culture4",
        "type": "image_picker",
        "label": "tenth Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "tenth_slid_head4",
        "label": "tenth slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "tenth_slid_para4",
        "label": "tenth slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      },
      		{
        "type": "slideminielev",
        "name": "mini elev slide",
        "settings": [
      
      {
        "id": "elev_pop_culture1",
        "type": "image_picker",
        "label": "elev Image Pop Culture 1"
      },
		   {
        "type": "text",
        "id": "elev_slid_head1",
        "label": "elev slid head tex 1",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "elev_slid_para1",
        "label": "elev slid para 1",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "elev_pop_culture2",
        "type": "image_picker",
        "label": "elev Image Pop Culture 2"
      },
		   {
        "type": "text",
        "id": "elev_slid_head2",
        "label": "elev slid head tex 2",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "elev_slid_para2",
        "label": "elev slid para 2",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "elev_pop_culture3",
        "type": "image_picker",
        "label": "Image Pop Culture 3"
      },
		   {
        "type": "text",
        "id": "elev_slid_head3",
        "label": "tenth slid head tex 3",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "elev_slid_para3",
        "label": "elev slid para 3",
        "default": "<p>add slide description.</p>"
         },
      {
        "id": "elev_pop_culture4",
        "type": "image_picker",
        "label": "elev Image Pop Culture 4"
      },
		   {
        "type": "text",
        "id": "elev_slid_head4",
        "label": "elev slid head tex 4",
        "default": "Image with text"
         },
         {
        "type": "richtext",
        "id": "elev_slid_para4",
        "label": "tenth slid para 4",
        "default": "<p>add slide description.</p>"
         }
	
  
]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script type="application/json" id="ProductJson-product-template">
    {"id":561953505327,"title":"Canvas small","handle":"canvas-small","description":"","published_at":"2018-03-09T04:52:04+01:00","created_at":"2018-03-09T05:15:04+01:00","vendor":"mycreanimale","type":"","tags":["Canvas Medium","Canvas small","Chambray Button Down"],"price":14999,"price_min":14999,"price_max":14999,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":7136010436655,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Canvas small","public_title":null,"options":["Default Title"],"price":14999,"weight":0,"compare_at_price":null,"inventory_management":null,"barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/smallcnvas_450x650_a9a02e64-28a2-4b8f-a48e-3d3e2c86fd30.jpg?v=1520568977","\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/mediumcanvas_450x650_8a248393-58f6-4193-be5a-6a9391f828c7.jpg?v=1520965050","\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/largecanvas_300x_11e2b61e-6864-4163-9da3-6f826369b8fa.jpg?v=1520965066"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/smallcnvas_450x650_a9a02e64-28a2-4b8f-a48e-3d3e2c86fd30.jpg?v=1520568977","options":["Title"],"content":""}
  </script>


   <script>
   // $('.regular').zoom({ on: 'click'  });     
    
//    $('.image-zoom')
//       .css('display', 'block')
//       .parent()
//       .zoom({
//       on:'click',
//       touch: true,
//       magnify: 1.5,
//       url: $(this).find('img').attr('data-zoom'),
//       onZoomIn: function(){
//       $(this).parent().css('cursor','zoom-out')
//     },
//       onZoomOut: function(){
//       $(this).parent().css('cursor','zoom-in')
//     }
//       });
     
    

  
     $(".regular").not('.slick-initialized').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         dots: false,
         focusOnSelect: true,
         arrows: false,
         swipe: false
      });
     
     $('ul#ProductThumbs li').click(function(e) {
     e.preventDefault();
     var slideno = $(this).index();
     // $('.regular')..slick('slickGoTo', slideno-1);
     $('.regular').slickGoTo(slideno);
      
      
   });  
  </script>
  
  
  

<style>
.single-option-radio input[type="radio"]:checked + label {
    border: 2px solid #dbdcdb;
/*     padding: 13px 25px; */padding:9px 11px;
}
  .product-container-pp input#custom_photo {
    border: 1px solid #dbdcdb;
}
  .add-to-cart{
   background: #1cadff;
  font-family: "Roboto",!sans-serif important;
  font-weight: bolder;
  letter-spacing: -0.025em;
  line-height: 1.42;
  font-size: 14px;
    text-transform: inherit;
  }
  .add-to-cart:hover{
   background: #1cadff !important;
  }
  .product-single__thumb{
    width: 76px;
  }
  .accordion .accordion-head{
    font-size: 1em;
  }
  .accordion-head a{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    position: relative;
  }
  .accordion-head a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000;
    transition: width 0.5s ease;
}
  .accordion-head a:hover::after, .accordion-head a:focus::after {
    width: 100%;
}
  .regular:hover { 
  cursor: move; 
    cursor: zoom-in;
 cursor: -moz-grab;
  cursor: -webkit-zoom-in;
}
 .section-you-may-like {
    border-top: 1px solid #dbdcdb;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 40px;
} 
  
  @media screen and (min-width: 591px) {
  .mobile-zoom{display:none}
    }
@media screen and (max-width: 590px) {
  .mobile-zoom{display:inline}
    }
/*
.regular:focus{
  cursor: zoom-out;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}*/
/*   .aos-animate {
    animation: zoom-fade 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
} */

</style></div>




      
        </div>
   


  
  </div>
  
</div>




<style type="text/css">
  .grid--small .grid__item {
    padding-left: 10px;
}
.medium-up--one-half {
/*     width: 50% !important; */
}
.grid__item {
    float: left;
/*     padding-left: 0px; */
    min-height: 1px;
}
.widescreen--three-quarters {
    width: 75%;
}
  .widescreen--three-fifths {width:60%;}
.btn {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    padding: 9px 20px;
    margin: 0;
    min-width: 90px;
    line-height: 1.42;
    font-size: 1em;
    background: #00ce5a url(//cdn.shopify.com/s/files/1/0004/0809/2719/files/arrows.png?v=1530301543) no-repeat 150% 35%;
        background-size: auto auto;
    background-size: 29px;
}
.btn:hover, .btn--secondary:hover, .collapsibles-wrapper .spr-summary-actions a:hover, .collapsibles-wrapper .spr-button:hover, .rte .btn:hover, .rte .btn--secondary:hover, .rte .collapsibles-wrapper .spr-summary-actions a:hover, .collapsibles-wrapper .spr-summary-actions .rte a:hover, .rte .collapsibles-wrapper .spr-button:hover, .collapsibles-wrapper .rte .spr-button:hover {
    color: #fff;
    padding-right: 55px;
    background-position: 91% 35%;
}
.text-spacing {
    margin-bottom: 20px;
}
.rte p, .rte ul, .rte ol, .rte table {
    margin-bottom: 25px;
}
p, .paragraph {
    margin: 0 0 20px 0;
        margin-bottom: 20px;
}
/* body, input, textarea, button, select, p {
    font-family: Open Sans, "HelveticaNeue","Helvetica Neue",sans-serif;
    letter-spacing: 0em;
    line-height: 1.5;
    font-size: 16px;
    text-rendering: optimizeSpeed;
} */
  
.slick-dots li button::before {
  
    top: -16px;
  
}

.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 {
    margin-top: 2.5em;
    margin-bottom: 1em;
}
.rte > p:last-child {
    margin-bottom: 0;
}
  .push--large--one-twelfth {
    left: 0px;
}

  label {
    font-style: normal;
  }
  
  .btn:hover, .btn--secondary:hover, .rte .btn:hover, .rte .btn--secondary:hover {
    background-color: #00ce5a;
}
  
  div#ProductSection-content-bgr {
    margin-bottom: 30px;
}

   @media screen and (max-width: 768px)
{
/*     .owl-nav button{
  	    top: 21.5%!important;
  } */
 .form-vertical {
    margin-bottom: 15px;
    margin-left: -10px;
}.widescreen--three-fifths {
    width: auto !important;
    margin: 0px auto !important;
}
}
section.carosoule-box.mul-slid .row .col-4{
	position:relative;	
	display:inline-block;
	overflow:visible;
	width: 29%;
    margin: 35px 2%;
}
section.carosoule-box.mul-slid .owl-carousela button.owl-prev{
	margin-left:-20px;
}
section.carosoule-box.mul-slid .owl-carousela button.owl-next{
	margin-right:-20px;
}
    
    .dog-carous .owl-carouselaa.owl-theme.owl-loaded.owl-drag .owl-item .item img {
    margin: 0 auto;
        width: 350px !important;
    height: 350px !important;
}
  
  section.carosoule-box.mul-slid .owl-nav {
      top: 50px;
  }
  
  @media screen and (min-width: 1025px) {  
    section.carosoule-box.mul-slid .row .col-4{
    	    width: 23%;
   			 margin: 35px 5%;
    }
    section.carosoule-box.mul-slid .owl-carousela button.owl-prev{
        margin-left:-30px;
    }
    section.carosoule-box.mul-slid .owl-carousela button.owl-next{
        margin-right:-30px;
    }
    .dog-carous .owl-carouselaa button.owl-next, 
    .dog-carous .owl-carouselaa button.owl-prev {
     width: 30px;
    height: 60px;
    }
    section.carosoule-box.mul-slid .box-image img {
        max-width: 130px !important;
        width: 130px;
        height: 130px;
    }

  }
  @media screen and (min-width: 320px) and (max-width: 767px) { 
      .section-content-bgr header.section-header h1 {
    font-family: "Montserrat" !important;
    line-height: 1.1;
  }
    section.carosoule-box.mul-slid.bottoms .owl-nav{
    	#left: -15px;
    }
    section.carosoule-box.mul-slid.bottoms .owl-carousel .owl-stage{
        margin-left: -10px;
    }
    section.carosoule-box.mul-slid.bottoms .owl-carousela button.owl-prev {
        margin-left: -20px;
    }
       section.carosoule-box.mul-slid.bottoms .owl-carousela button.owl-next {
        margin-left: -20px;
    }
     section.carosoule-box.mul-slid.bottoms  .owl-carousela.owl-theme.owl-loaded.owl-drag {
        #max-width: 90%;
		#margin-left:5%;
    }
    .dog-carous{
      overflow:visible;
    }
    .dog-carous .owl-carouselaa.owl-theme.owl-loaded.owl-drag .owl-item .item img {
    margin: 0 auto;
        width: 250px !important;
    height: 250px !important;
}
    .dog-carous button.owl-next{
       margin-right: -10px
    }
    .dog-carous .owl-carouselaa button.owl-next, 
    .dog-carous .owl-carouselaa button.owl-prev {
    width: 20px;
    height: 45px;
          margin-top: -10px;
}
        .dog-carous button.owl-prev{
       margin-left: -10px
    }
    .dog-carous .owl-carouselaa button.owl-next{
   #margin-right: -22px;
    
    }
  }
   @media screen and (max-width: 480px)  {
    section.carosoule-box.mul-slid {
        width: 96%;
    }
     section.carosoule-box.mul-slid.bottoms .item .box-item {
          margin-left: 17px;
      }
  }
</style>

