 {{ 'jquery.zoom.js' | asset_url | script_tag }}
  
<script>
  $(document).ready(function(){
    if ($( window ).width() <700){
        
    }
//     var product_height = $('.grid__item .slick-active').height();
    $(".grid__item .slick-slide").each(function() {
    	$(".grid__item > .tap-top-hover").clone().appendTo($(this));
    });
    
//       $('<div id="zoom-hint"></div>').appendTo('.draggable');
//     $('.zoom-hint').wrapInner('<div style="margin-left:30px;">Tap Tap to Zoom</div>');
  });
</script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script>
var albumBucketName = 'mycreanimale';
var bucketRegion = 'us-east-2';
var IdentityPoolId = 'us-east-2:51cff953-4b51-4686-a5e3-7f3e598b16ef';

AWS.config.update({
  region: bucketRegion,
  credentials: new AWS.CognitoIdentityCredentials({
    IdentityPoolId: IdentityPoolId
  })
});

var s3 = new AWS.S3({
  apiVersion: '2006-03-01',
  params: {Bucket: albumBucketName}
});

function addPhoto(albumName) {
    var files = document.getElementById('custom_photo').files;
	var file = files[0];
	var fileName = Math.random().toString(36).substring(7)+'-'+file.name;
	var albumPhotosKey = encodeURIComponent(albumName) + '/';
	var photoKey = albumPhotosKey + fileName;
  	var fd = new FormData();
    fd.append('key', photoKey);
    fd.append('acl', 'public-read');
    fd.append('Content-Type', file.type);
    fd.append("file",file,fileName);
  	$('.progress_container').css('display', 'block');
    $('.product-form__input').css('display', 'none');
    $('.btn-grad-log').prop('disabled', true);
    $('.btn-grad-log').css('background-image' ,'linear-gradient(gray, gray, gray)','important');
   $('.btn-grad-log').css('opacity' ,'0.3','important');
   
    //$('.bar').css('width', '100%');
    var aws_url = 'https://mycreanimale.s3.us-east-2.amazonaws.com/';
      $.ajax({
          xhr: function() {
          var xhr = new window.XMLHttpRequest();

          xhr.upload.addEventListener("progress", function(evt) {
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              percentComplete = parseInt(percentComplete * 100);
              //console.log(percentComplete);
			  $('.bar').css('width',percentComplete+'%');
              $('.data-bar').html(percentComplete+'%');
              
              if (percentComplete === 100) {
//console.log('completed');
                setTimeout(function(){
                $('.progress_container').hide();
          		$('#custom_photo').hide();
                }, 500);
                $('.btn-grad-log').prop('disabled', false);
              
              }

            }
          }, false);

          return xhr;
        },
        type : 'POST',
        url : aws_url,
        data : fd,
        processData: false,  // Don't process the data
        contentType: false,  // Don't set contentType
        success: function(json) {
          //$('.progress_container').hide();
          //$('#custom_photo').hide();
          var image_path = aws_url+photoKey;
          $('#hidden_photo').val(image_path);
          setTimeout(function(){
            var text_image = '<br><br><span style="font-size: 17px;color: #204a80;">Votre image a été transféré avec succès.<br></span><br><img id="uploaded_image" src="'+image_path+'" width="100px" height="100px">';
          $('#custom_photo_label').after(text_image);
          }, 1000);
            $('.btn-grad-log').css('opacity' ,'1','important');
          //console.log(image_path); 
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log('Upload error: ' + XMLHttpRequest.responseText);
        }
    });
}
</script>

<style>
		/* styles unrelated to zoom */
		* { border:0; margin:0; padding:0; }
/* 		p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;} */

		/* these styles are for the demo, but are not required for the plugin */
		
/* .zoom-hint
  {
    background-color:#f2f2f2 !important;
    padding:5px !important; 
    width:9% !important;
    height:auto !important; 
    position:relative !important; 
    z-index:1 !important; 
  }
  .zoom-hint img
  {
    width:20px !important;
    height:20px !important; 
    float:left !important;
  } */
    
.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #89949B;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .bar {
    background-color: #89949B;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    /*-webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;*/
}

.progress-danger .bar {
    background-color: #89949B;
    background-image: -moz-linear-gradient(top, #89949B, #c43c35);
    background-image: -ms-linear-gradient(top, #89949B, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #89949B, #c43c35);
    background-image: linear-gradient(top, #89949B, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.progress-danger.progress-striped .bar {
    background-color: #1ABC9C;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    /*background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);*/
    background: linear-gradient(to right, rgba(52,107,247,1) 0%, rgba(103,93,240,1) 38%, rgba(250,250,250,1) 40%, rgba(252,252,252,1) 61%, rgba(246,41,12,1) 63%, rgba(231,56,39,1) 100%);
}




@-webkit-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@-moz-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}
  
  
  
  
  
  
  .tap-top-hover {
   	display: none; 
  }
  .grid__item .slick-slide {
   	position: relative; 
  }
  .grid__item .slick-slide .tap-top-hover {
   	position: absolute;
    display: block;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 8px;
    padding-left: 5px;
    background: rgba(0, 0, 0, 0.7);
  }
  .grid__item .slick-active .tap-top-hover a {
    color: #fff; 
    font-size: 12px;
    display: inline-block;
    min-width: 155px;
  }
  .grid__item .slick-active .tap-top-hover a i {
    transform: scaleX(-1);
    margin-right: 5px;
  }
  .tap-desktop {
   	display: inline-block; 
  }
  .tap-mobile {
    display: none;
  }
 .slick-slide.slick-current.slick-active:hover {
 cursor: zoom-in;
 outline: none;
 }
   .slick-slide.slick-current.slick-active:focus {
   outline: none;
 }
 .video-wrapper #video_player {
    max-height: 100% !important;
    max-width: 100% !important;
}
 .video-wrapper {
    height: 758px !important;
}
.Single-product-home ul#ProductThumbs {
width: 8%;
}
  @media screen and (max-width: 768px) {
   	.tap-mobile {
      display: inline-block; 
    }
    .tap-desktop {
      display: none;
    }
    
  }
   @media screen and (max-width: 590px) {
   
 .Single-product-home ul#ProductThumbs {
    width: 18% !important;
    float: right !important;
    position: static !important;
}
   html #mycreanimale .Single-product-home .product-single .video-wrapper {
    margin-top: 0;
    }
    #mycreanimale .product-single__photo-wrapper {
    height: auto;
    }
     body h1.product-single__title {
     margin-top: 12px;
     margin-bottom:0px !important;
     }
     .product-single__meta--wrapper{padding-left:0px !important;} 
     #custom_photo{margin:15px 0px -15px 0px !important;}
     
   }
  @media screen and (max-width: 480px) {
   	.grid__item .slick-active .tap-top-hover {
      left: 50%;
      transform: translateX(-50%);
    }
    iframe .video-wrapper {
    height: 413px !important;
}
   
  }

	</style>
{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- assign product = all_products[section.settings.featured_product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- if product == empty -%}
  {%- assign section_onboarding = true -%}
  {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
  {%- assign title = 'home_page.onboarding.product_title' | t -%}
  {%- assign compare_at_price = 2999 -%}
  {%- assign price = 1999 -%}
{%- else -%}
  {%- assign section_onboarding = false -%}
  {%- assign vendor = product.vendor -%}
  {%- assign title = product.title -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
{%- endif -%}

<div class="wrapper">
<div itemscope itemtype="http://schema.org/Product" id="FeaturedProductSection--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="true" data-enable-history-state="false" style="margin-bottom:{{section.settings.featuredsection_margin_bottom}};">
  <div class="Single-product-home">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
 
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

    
      <div class="product-single__meta mobile-single">
  	{% if section.settings.product_vendor_enable %}
    	<h2 class="product-single__vendor" itemprop="brand">{{ product.vendor }}</h2>
    {% endif %}
    
     <h1 class="product-single__title" itemprop="name"><center>{{ product.title }}</center></h1>
     <a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div></a>
   
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% comment %}
              Optionally show the 'compare at' or original price of the product.
            {% endcomment %}

            {% if product.compare_at_price_max > product.price %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              <span class="product-single__price--wrapper">
                <span id="ComparePrice" class="product-single__price--compare-at">
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </span>
              </span>
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            {% else %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            {% endif %}

            <span id="ProductPrice"
              class="product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %}"
              itemprop="price"
              content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money }}
            </span>
    </div>
  </div>
    
    
    <div class="grid product-single">
   
         <div class="grid__item large--six-twelfths medium--seven-twelfths text-center home_prod_left">

        {% if section.settings.image_layout == "stacked" %}
         
          <div class="product-single__photos">
            {% capture img_id_class %}product-single__photo-{{ featured_image.id }}{% endcapture %}
            {% capture wrapper_id %}ProductImageWrapper-{{ featured_image.id }}{% endcapture %}

            <div class="product-single__photo--flex-wrapper">
              <div class="product-single__photo--flex">
                {% include 'image-style' with image: featured_image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
                <div id="{{ wrapper_id }}" class="product-single__photo--container">
                  <div id="main_image" class="product-single__photo-wrapper" style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
                   
                     {% assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    <img class="product-single__photo lazyload {{ img_id_class }}"
                      src="{{ featured_image | img_url: '300x300' }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ featured_image.aspect_ratio }}"
                      data-sizes="auto"
                      {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
                      data-image-id="{{ featured_image.id }}"
                      alt="{{ featured_image.alt | escape }}">
                    
                   

                    <noscript>
                      <img class="product-single__photo"
                        src="{{ featured_image | img_url: 'master' }}"
                        {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
                        alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
                    </noscript>
                  </div>
                </div>
              </div>
            </div>

            {% for image in product.images %}
              {% unless image contains featured_image %}

                {% capture img_id_class %}product-single__photo-{{ image.id }}{% endcapture %}
                {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}

                <div class="product-single__photo--flex-wrapper">
                  <div class="product-single__photo--flex">
                    {% include 'image-style' with image: image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
                    <div id="{{ wrapper_id }}" class="product-single__photo--container">
                      <div class="product-single__photo-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                        {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <img class="product-single__photo lazyload {{ img_id_class }}"
                          src="{{ image | img_url: '300x' }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ image.aspect_ratio }}"
                          data-sizes="auto"
                          {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
                          data-image-id="{{ image.id }}"
                          alt="{{ image.alt | escape }}">

                        <noscript>
                          <img class="product-single__photo" src="{{ image.src | img_url: 'master' }}"
                            {% if section.settings.zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %}
                            alt="{{ image.alt | escape }}"
                            data-image-id="{{ image.id }}">
                        </noscript>
                      </div>
                    </div>
                  </div>
                </div>
              {% endunless %}
            {% endfor %}

          </div>

        {% else %}
         
          <div data-aos="zoom-out" data-aos-delay="200" class="product-thumbnail__photos  test-web regular">
             
            {% capture img_id_class %}product-single__photo-{{ featured_image.id }}{% endcapture %}
            {% capture wrapper_id %}ProductImageWrapper-{{ featured_image.id }}{% endcapture %}

            <div>
              
                {% include 'image-style' with image: featured_image, width: 575, height: 850, small_style: true, wrapper_id: wrapper_id, img_id_class: img_id_class %}
                


              
                    {% assign pieces =  featured_image.alt | escape %}

                   	{% if pieces contains "https://"  %}
<div class="video-wrapper">
 <iframe  id="video_player" width="475px" class="product-single__photo lazyload {{ img_id_class }}" frameborder="0" src="{{pieces}}"  allow></iframe>
              </div>
              {% else %}
                   
                    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <div data-fancybox="gallery" href="{{ featured_image | img_url: '2048x2048' }}">
                    <img class="image-wrap pro-img image-zoom" data-zoom="{{ featured_image | img_url: '2048x2048', scale: 2 }}"
                      src="{{ featured_image | img_url: '2048x2048' }}"
                      alt="{{ featured_image.alt | escape }}">
              </div>
                      <div class="click mobile">
                        <a href="javascript:void(0)">
                          <i class="fa fa-search-plus"></i>
                          <span class="tap-desktop"> Cliquez pour zoomer</span>
                          <span class="tap-mobile"> Appuyez pour zoomer</span></a></div>

					 {% endif %}	
                   
                  
                </div>
              
            {% for image in product.images %}
              {% unless image contains featured_image %}

                {% comment %}
                  We need to figure out the max width we want the image to be on the page
                  based on the aspect ratio of the image and based on the size of the
                  image.
                {% endcomment %}
                {% capture img_id_class %}product-single__photo-{{ image.id }}{% endcapture %}
                {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
           <div>
                      {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
             <div data-fancybox="gallery" href="{{ image | img_url: '1024x' }}">
                        <img  class="webcast-image-fixed image-zoom" data-zoom="{{ image | img_url: '1024x1024', scale: 2 }}"
                          src="{{ image | img_url: '1024x' }}"
                          
                          alt="{{ image.alt | escape }}">
             </div>
             
             
             
        
             
             
              <div class="click mobile">
                        <a href="javascript:void(0)">
                          <i class="fa fa-search-plus"></i>
                          <span class="tap-desktop"> Cliquez pour zoomer</span>
                          <span class="tap-mobile"> Appuyez pour zoomer</span></a></div>
         </div>
            
             {% endunless %}
            {% endfor %}

            {% comment %}
              Display thumbnails
            {% endcomment %}
           
          </div>
        
             <ul data-aos="zoom-out" data-aos-delay="200" class="product-single--thum product-single__thumbnails grid-uniform" id="ProductThumbs">
              {% for image in product.images %}
                {% if product.images.size > 1 %}
                  <li class="image-wrap grid__item medium--one-third large--one-quarter product-single__photo-wrapper {% if image contains featured_image %} active-thumb{% endif %}">
                    <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: 'grande' }}" class="product-single__thumbnail">
                      <img class="animation-delay-{{forloop.index }} product-single__thumb"  src="{{ image.src | img_url: '200x' }}" alt="{{ image.alt | escape }}">
                      {% assign piece =  image.alt | escape %}
                    
                   		{% if piece contains "https://"  %}
                      <span class="product__thumb-play" style="position: absolute; top:25%;left:0px;right:0px;margin:0px auto;text-align:center;">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="0 0 32 32" ><style>.st0{fill:#444} .product__thumb-play svg.icon-play{width:45px;}</style><path class="st0" d="M9.3 6.2l17.1 9.7-17.1 9.7"></path></svg>
                      </span>	
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

        {% endif %}
      </div>

   
      <div class="grid__item large--six-twelfths  product-single__meta--wrapper medium--five-twelfths large--five-twelfths home_prod_right" style="text-align:center;padding-left:40px;">
       
        {% if product.metafields.loox.num_reviews %}
	<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="{{ product.metafields.loox.avg_rating }}"/>
		<meta itemprop="ratingCount" content="{{ product.metafields.loox.num_reviews }}"/>
	</div>
 {% endif %}
        
        
        
        {% if section.settings.show_vendor %}
          <h2 class="product-single__vendor" itemprop="brand">{{ vendor }}</h2>
        {% endif %}

        <h1 class="product-single__title mobile-hide" itemprop="name" style="margin-bottom:0px;">{{ title }}</h1>
	    {% comment %}	<div class="yotpo bottomLine"data-product-id="{{ product.id }}"></div>{% endcomment %}
        <a class="mobile-hide" href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div></a>
    
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% comment %}
            Optionally show the 'compare at' or original price of the product.
          {% endcomment %}
          {% if compare_at_price > price %}
            <span id="PriceA11y" class="visually-hidden">{% comment %}ly_i18n_replace_for_[ 'products.general.regular_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.regular_price' | t }}{% endcapture %}{% include 'ly-static-string' with '8850533' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
            <span class="product-single__price--wrapper">
              <span id="ComparePrice" class="product-single__price--compare-at mobile-hide">
                {{ compare_at_price | money }}
              </span>
            </span>
            <span id="ComparePriceA11y" class="visually-hidden">{% comment %}ly_i18n_replace_for_[ 'products.general.sale_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.sale_price' | t }}{% endcapture %}{% include 'ly-static-string' with '8850534' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% else %}
            <span id="PriceA11y" class="visually-hidden">{% comment %}ly_i18n_replace_for_[ 'products.general.regular_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.regular_price' | t }}{% endcapture %}{% include 'ly-static-string' with '8850533' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% endif %}

          <span id="ProductPrice"
            class="product-single__price{% if compare_at_price > price %} on-sale{% endif %} mobile-hide"
            itemprop="price"
            content="{{ price | divided_by: 100.00 }}">
            {{ price | money }}
          </span>
<!--             {{ price | money_without_trailing_zeros }} -->

          <hr class="hr--small">

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm--product-template" class="product-single__form" style="text-align:center;">
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="radio-wrapper js product-form__item">
                  <label class="single-option-radio__label{% if option.name == 'Default' or option.name == 'Title' or section.settings.show_variant_labels == false %} hidden-labe{% endif %}"
                    for="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                    {{ option.name | escape }}
                  </label>
                  <fieldset class="single-option-radio"
                    name="{{ option.name | handleize }}"
                    id="ProductSelect--{{ section.id }}-option-{{ forloop.index0 }}">
                    {% assign option_index = forloop.index %}
                    {% for value in option.values %}
                      {% assign variant_label_state = true %}
                      {% if product.options.size == 1 %}
                        {% unless product.variants[forloop.index0].available  %}
                          {% assign variant_label_state = false %}
                        {% endunless %}
                      {% endif %}
                      <input type="radio"
                        {% if option.selected_value == value %} checked="checked"{% endif %}
                        {% unless variant_label_state %} disabled="disabled"{% endunless %}
                        value="{{ value | escape }}"
                        data-index="option{{ option_index }}"
                        name="{{ option.name | handleize }}"
                        class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                        id="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}">
                      <label for="ProductSelect--{{ section.id }}-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                    {% endfor %}
                  </fieldset>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect" class="product-single__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %}
                    selected="selected" {% endif %}
                    data-sku="{{ variant.sku }}"
                    value="{{ variant.id }}">
                    {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '8850535' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            <div>
            <center><label for="custom_photo" id="custom_photo_label" style="font-weight:bold;font-size:13px;letter-spacing:1px;">VEUILLEZ SÉLECTIONNER UNE IMAGE (N'IMPORTE QUEL ANIMAL):</label></center>
                <div class="progress_container" style="display:none;"><br/>
                  <center><span>Importation de la photo ... <span class="data-bar">10%</span></span></center>
                   <br/>
                  <div class="progress progress-success progress-striped active">
                  <div class="bar" style="width: 10%;"></div>
                </div>
                </div>   
              
            <input required id="custom_photo" type="file" name="uploadphoto" class="product-form__input text-center" onchange="addPhoto('images');" accept=".jpg,.jpeg,.png" style="background-color:#fff;font-size:14px;border:1px solid #dbdcdb;margin:19px 18% -15px 18%;">
                <input required id="hidden_photo" type="hidden" name="properties[Logo]" value="">           
            </div>
              <div class="product-single__add-to-cart" style="margin-bottom:10px;margin-top:34px;">
                <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="button btn-grad-log btn--full"{% unless current_variant.available %} disabled="disabled"{% endunless %} style="margin-top:0px;">
                 <img src="{{ "dog-face_1f436.png" | asset_url }}" style="top: 4px;position: relative;"> <span class="add-to-cart-text">
                    
                    {% if current_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                    
                  </span> <img src="{{ "cat-face_1f431.png" | asset_url }}" style="top: 4px;position: relative;">
                </button>
              </div>
          </form>

        </div>

<!--         <a class="product-single__full-details text-link"{% unless section_onboarding %} href="{{ product.url }}?variant={{ current_variant.id }}"{% endunless %}>
          {% comment %}ly_i18n_replace_for_[ 'products.product.full_details' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.full_details' | t }}{% endcapture %}{% include 'ly-static-string' with '8850537' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon icon-arrow-right" aria-hidden="true"></span>
        </a> -->
         <div class="product-single__description rte" itemprop="description" style="margin-top:35px !important;">
           <div class="more_desc" id="short_description">{% comment %}  ly_code_replace_for_[ product.description | truncatewords : 40 ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | truncatewords : 40 }}{% comment %}ly_code_replace_end{% endcomment %}</div>
           <div style="text-align:center;margin:15px 32%;"><a href="#more_description"><label class="desc" style="font-style:italic;text-decoration:none;color:#000;">Voir la description en entier</label></a></div>
           <div id="more_description" class="more-desc" style=""><div>{{product.description}}</div>
             <div class="shg-row product-key-points">
              <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4">
              <div id="s-2b1ce4ae-6b25-4749-85e2-b2fa130a9ea1" class="shg-c  shg-align-center">
              <div class="shogun-image-container">
              <img src="https://i.imgur.com/FO32Ot2.png" width="" height="" alt="" class="shogun-image img-responsive ">
              <div class="shogun-image-overlay shg-middle-center" style=""></div>
              </div>
              </div>
              </div>
              <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4">
              <div id="s-701b6510-96d6-434d-9238-f2c1f8e4f9bc" class="shg-c  shg-align-center">
              <div class="shogun-image-container">
              <img src="https://i.imgur.com/EtteOon.jpg" width="" height="" alt="" class="shogun-image img-responsive ">
              <div class="shogun-image-overlay shg-middle-center" style=""></div>
              </div>
              </div>
              </div>
              <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-4">
              <div id="s-8830b4d3-cb3b-48f9-bcdf-e1118188aa1c" class="shg-c  shg-align-center">
              <div class="shogun-image-container">
              <img src="https://i.imgur.com/Crf3im6.png" width="" height="" alt="" class="shogun-image img-responsive ">
              <div class="shogun-image-overlay shg-middle-center" style=""></div>
               <br> <br/>
              </div>
              </div>
              </div>
              </div>
             
           <div style="text-align:center;margin:15px 30%;">
             <a href="#short_description"><label class="desc_short" style="font-style:italic;text-decoration:none;color:#000;">Moins voir la description</label>
             </a>
               </div>
           </div>
        </div>
        {% comment %}
        {% include 'accordion-fp' %}
        {% endcomment %}
        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
        
      </div>
   
      <div class="grid__item large--whole"> 
         <br><br>
          <u><b><center><h1> Avis de nos clients !</h1></center></b></u>
          <hr class="hr--clear pp-clear-btm">
          {% comment %}<div id="looxReviews" data-loox-aggregate data-limit="{{section.settings.data-limit}}" {% if section.settings.only_photos %}data-mode="img"{% endif %} style="margin:0 auto;max-width:{{section.settings.maxwidth}}px;"></div>{% endcomment %}
          <div id="looxReviews" data-product-id="{{product.id}}" >{{ product.metafields.loox.reviews }}</div>
      </div>
     
    </div>

    {% if collection %}
      <hr class="hr--clear">
      <div class="text-center">
        <a href="{{ collection.url }}" class="return-link">&larr; {% comment %}ly_i18n_replace_for_[ 'products.general.collection_return' | t: collection: collection.title ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.collection_return' | t: collection: collection.title }}{% endcapture %}{% include 'ly-static-string' with '8850539' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% include 'ly-title' with collection %}{% assign replacement = ly_translation %}{% assign ly_template = ly_template | replace: '[[collection]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      </div>
    {% endif %}
  </div>
</div>
</div>



{% unless product.empty == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<!-- <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
{{ 'fancybox.js' | asset_url | script_tag }}

 <script>
   $('[data-fancybox="gallery"]').fancybox({
	thumbs : {
// 		autoStart : true,
      smallBtn: "true"
	}
});
   // $('.regular').zoom({ on: 'click'  });     
   var win_width = $( window ).width();
     if(win_width >= 768){
     
       $('.image-zoom')
      
      .css('display', 'block')
      .parent()
      .zoom({
      on:'mouseover',
      touch: false,
      magnify: 1.5,
      url: $(this).find('img').attr('data-zoom'),
      onZoomIn: function(){
      $(this).parent().css('cursor','zoom-out')
    },
      onZoomOut: function(){
      $(this).parent().css('cursor','zoom-in')
    }
      });
       
     }
    

  
     $(".regular").not('.slick-initialized').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         dots: false,
         focusOnSelect: true,
         arrows: false,
         swipe: false,
       loop:false,
      });
    
     $('ul#ProductThumbs li').click(function(e) {
     e.preventDefault();
     var slideno = $(this).index();
     // $('.regular')..slick('slickGoTo', slideno-1);
     $('.regular').slickGoTo(slideno);
      
      
   });  
  </script>
{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
     {
        "type": "checkbox",
        "id": "zoom_enable",
        "label": "Enable image zoom"
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true,
        "info": "Edit social accounts in General settings"
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{% endschema %}
<script>
  $(document).ready(function(){
  $('#more_description').css('display','none');
  });
  
  
  $('label.desc').click(function(){
  $('.more_desc').css('display','none');
  $('.desc').css('display','none');
  $('#more_description').css('display','block');  
  });
  
  $('label.desc_short').click(function(){
  $('#more_description').css('display','none');
  $('.more_desc').css('display','block');
  $('.desc').css('display','block');
  });
</script>
<script src="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js"></script>
<link rel="stylesheet" href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css">
<script>
  $(document).ready(function(){
    	
    console.log(window.innerWidth);
    
    //webcast_cart_update();
    //swal("Here's a message!")
  	$( "#AddToCartForm--product-template" ).submit(function( event ) {
    	event.preventDefault();
        var hidephoto = $('#hidden_photo').val().length;
        console.log(hidephoto);
        if(hidephoto==0){
          swal("Error!", "Please Upload image!", "error")
          $('#custom_photo').focus();
        }
        else if (hidephoto>1){
        $.post('/cart/add.js', $('form[action="/cart/add"]').serialize());
        swal({
          title: "Ajouté au panier !",
          text: "Que voulez-vous faire ?",
          type: "success",
          showCancelButton: true,
          confirmButtonClass: 'button btn--secondary ctn-shop btn-grad-sign',
          confirmButtonText: 'Continuer les achats !',
          cancelButtonText: 'Voir mon panier',
          cancelButtonClass: 'button btn--secondary view-cart-link btn-grad-log'
        });
        setTimeout(function(){ 
          
          webcast_cart_update(); 
        	
        }, 1000);
        
      //$('.ctn-shop').attr('onclick',"location.href='https://mycreanimale.com'");
      $('.view-cart-link').attr('onclick',"location.href='https://mycreanimale.com/cart'");
      $('.ctn-shop').removeClass('btn');
      $('.view-cart-link').removeClass('btn');
      }
	});
    var $iframeVideo = $(
    'iframe[src*="youtube.com/embed"], iframe[src*="player.vimeo"]'
  );
  var $iframeReset = $iframeVideo.add('iframe#admin_bar_iframe');

  $iframeVideo.each(function() {
    // Add wrapper to make video responsive
    if (!$(this).parents('.video-wrapper').length) {
      $(this).wrap('<div class="video-wrapper"></div>');
    }
  });

  $iframeReset.each(function() {
    // Re-set the src attribute on each iframe after page load
    // for Chrome's 'incorrect iFrame content on 'back'' bug.
    // https://code.google.com/p/chromium/issues/detail?id=395791
    // Need to specifically target video and admin bar
    this.src = this.src;
  });
  });
function webcast_cart_update(){
  		
  	$.getJSON('/cart.js', function(cart) {
      //console.log(cart);
      $('.m-notify-text-top').html(cart.item_count+' Article(s)');
      $('.shopping-cart-header').children('.badge').html(cart.item_count);
      $('.shopping-cart-total').children('.main-color-text').html(Shopify.formatMoney(cart.total_price, window.money_format));
      //$('.shopping-cart-total').children('.main-color-text').html( "{{ cart.total_price | money }}" );
      //var template = '<li class="clearfix"><a href="{URL}" title="{TITLE}" class="product-image"><img src="{IMAGE}" alt="{TITLE}"></a><div class="product-details"><a href="javascript:void(0)" title="Remove This Item" class="btn-remove">X</a><p class="product-name"><a href="{URL}">{TITLE}</a></p><div class="cart-collateral">{QUANTITY} x <span class="price">{PRICE}</span></div></div></li>';
      var template = '<li class="clearfix"><img src="{IMAGE}" alt="{TITLE}"><span class="item-name">{TITLE} </span><span style="font-size: 13px;">Couleur: {COLOR} <br>Taille: {SIZE}</span><br><span class="item-price">{PRICE}</span><span class="item-quantity">Quantité: {QUANTITY}</span></li>';
      $('.zero_cart_msg').addClass('hide');
      $('.shopping-cart-items').css('border-bottom','1px solid #E8E8E8');
      /*Clear cart*/
      	
      var win_width = window.innerWidth;
      
      if(win_width < 768){
      	$('.shopping-cart .shopping-cart-items').html('');
      }else{
      	$('.shopping-cart .shopping-cart-items .mCSB_container').html('');
      }
      
      /*Add product to cart*/
      if (cart.item_count > 0) {
        for (var i = 0; i < cart.items.length; i++) {
          
          var color = '';
          var size = '';
          if (cart.items[i].variant_options.length > 0) {
            var str = cart.items[i].variant_options[0].toLowerCase();
          	color = str.charAt(0).toUpperCase() + str.slice(1);
          }
          
          if (cart.items[i].variant_options.length > 1) {
          	size = cart.items[i].variant_options[1];
          }
          
          var item = template;
          //item = item.replace(/\{ID\}/g, cart.items[i].id);
          //item = item.replace(/\{URL\}/g, cart.items[i].url);
          item = item.replace(/\{TITLE\}/g, cart.items[i].product_title);
          item = item.replace(/\{QUANTITY\}/g, cart.items[i].quantity);
          item = item.replace(/\{IMAGE\}/g, Shopify.resizeImage(cart.items[i].image, 'small'));
          item = item.replace(/\{PRICE\}/g, Shopify.formatMoney(cart.items[i].price, window.money_format));
          item = item.replace(/\{COLOR\}/g, color);
          item = item.replace(/\{SIZE\}/g, size);
          if(win_width < 768){
            $('.shopping-cart .shopping-cart-items').append(item);
          }else{
           $('.shopping-cart .shopping-cart-items .mCSB_container').append(item);
          }
          
        }
        //$(".scrollcontent").mCustomScrollbar("update");
      }
    });
  }
</script>

<style>
 /* .Single-product-home  .product-single .video-wrapper, .Single-product-home .webcast-image-fixed {
    padding: initial !important;
    height: 758px !important;
    
}*/
  
  @media only screen and (max-width: 600px) {
 .Single-product-home .video-wrapper, .Single-product-home .webcast-image-fixed {
    height: 413px !important;
  }
  .mobile-hide {
    display:none !important;
  }
  .product-single__meta {
    padding-top: 10px;
  }
}
  @media only screen and (min-width: 600px) {
    .Single-product-home .video-wrapper, .Single-product-home .webcast-image-fixed{
      height:758px !important;
    }
    .desktop-hide{
      display:none !important;
    }
  }
  
  .Single-product-home  .product-single__description.rte {letter-spacing:0px;}
/*  button.btn.btn--secondarynew:hover{background-color:#009b44 !important;}
  .btn--secondarynew{background-color:#a26b25 !important}
  button.btn--secondarynew:hover{background-color:#009b44 !important;background:unset !important;width:auto;padding-right:20px;}*/
  .rte h5{margin-top:28px !important;  }
  .btn--secondary:hover{padding-right:12px !important;}
  .button{margin:10px 0px 10px 0px !important;}

</style>